html, body {
  background-color: #000;
}

body {
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#root {
  margin: 1rem 1rem 1rem 1rem;
}

.cryptid-image {
  max-width: 256px;
  width: 100%;
  height: auto;
}